
# MacOSX

.DS_Store

# Python

.ipynb*
__pycache__
/*.csv
*egg*
/dist
/build

.mypy_cache
.pytest_cache

# Custom

# data files, pickled objects, and/or checkpoints
*.bin
*.pkl
*.pt

# any output
out/

# labeled secrets and "scratch" (notes)
*.secret.*
scratch/
